<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
    <!-- Only include one of these -->
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <title>Title</title>
</head>
<body>
<!-- Make sure this is inside a correct container (like a navbar if needed) -->
<ul class="nav p-1 mb-4 bg-light justify-content-between">
    <!-- First navigation section (Home and Patients) -->
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" th:href="@{/index}">Home</a></li>

        <!-- Dropdown for Patients -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Patients</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/formPatients}">Nouveau</a></li>
                <li><a class="dropdown-item" th:href="@{/index}">Chercher</a></li>
            </ul>
        </li>
    </ul>

    <!-- User dropdown for logout -->
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">User</a>
            <ul class="dropdown-menu">
                <sec:authorize access="isAuthenticated()">
                    <li>
                        <a class="dropdown-item" th:text="${#authentication?.name}"></a>
                    </li>
                </sec:authorize>
            </ul>
        </li>
    </ul>
</ul>


<!-- Make sure fragment name matches layout fragment -->
<section layout:fragment="content1">
    <!-- Content here -->
</section>
</body>
</html>
